<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergency"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
   <!--   <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICEST"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    -->
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        <meta-data
    android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version" />
        <meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyDm9uCeXT9Ez_VgcEBpNkjXOlv_3JMVtWY"/>
        
        
         <activity
            android:name="com.example.emergency.StartChoice"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.Menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.Translator"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.Person"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.Car"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.StartFire"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name="com.example.emergency.PersonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
         </activity>
 
        <!--  Register Activity -->
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
            
        </activity>
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".DashboardActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".CarListActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".TranslatorList">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".StartEms">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
           <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".MenuEms">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
            <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".MenuFire">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
            <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".TranslatorEms">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".TranslatorListEms">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".Berichte">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".BerichteList">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".GefahrengutActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".WindFire">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
             
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".KoordinationFire">
            
             
         </activity>
       
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".ToDoFire">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".VideoFire">
         </activity>
          
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".GefahrengutFire">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".VideoEms">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".EkgEms">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".ElgaEms">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".VideoPolice">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".GefahrengutResult">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".GefahrengutEmsResult">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".OberkommandantKoor">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".BerichtTransport">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".TickerFire">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".TruppKoordination">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".ElgaChoiceEms">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".ElgaListEms">
         </activity>
         
         <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".ElgaDataListEms">
         </activity>
         
          <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:name=".ElgaDetailEms">
         </activity>
         
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyDm9uCeXT9Ez_VgcEBpNkjXOlv_3JMVtWY"/> 
        
    </application>

</manifest>
